.cart {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(44, 158, 220);
    position: relative;
}

.cart__header {
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
    color: red;
}

.cart__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: aqua;  
}

.cart__items_list {
    list-style-position: outside; /* Place numbers outside the list item */
    padding-left: 20px; /* Add some padding to the left of the list items */
    list-style-type: none; /* Remove default numbering */
    counter-reset: my-counter;
    width: 80%;
    height: 100%;
    background-color: rgb(66, 125, 251);
}

.cart__items_list li {
    width: 95%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    background-color: rgb(127 160 231);
}

.cart__items_list li::before {
    content: counter(my-counter);  
    counter-increment: my-counter;
    margin-right: 5px;  
  }

.buttons__container {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0 10px 0;
}

.cart__delete-button {
    border: 2px solid rgb(162, 182, 226);
    border-radius: 20px;
    margin-left: 20px;
    background-color: aqua;
}

.cart__delete-button:hover {
    border: 2px solid rgb(47, 66, 106);
    background-color: rgb(21, 117, 117);
}

.cart__totalPrice {
    font-size: 30px;
    font-weight: 600;
}


.form {
    width: 50%;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .error {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
